<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @tipo_endereco.descricao %>
</p>


<%= link_to 'Edit', edit_tipo_endereco_path(@tipo_endereco) %> |
<%= link_to 'Back', tipo_enderecos_path %>
